

 {% extends 'blog/base.html' %}

 {% block content %}
	{% for post in posts_page %}
		<div class="post">
		 	<div class="date">
		        {{ post.published_date }}
		    </div>
		    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
		     <p>{{ post.text|linebreaks }}</p>
		     <div class="comment-count"><a href="{% url 'blog.views.post_detail' pk=post.pk %}">комментариев: {{post.comments.count}}</a></div>
		</div>
	{% endfor %}

<div class="btngroup">
			<a href="?page={{ posts_page.previous_page_yunber }}"><span class="glyphicon glyphicon-chevron-left   pagerbutton"></span></a>

		<span class="pagenumber">
			{{ posts_page.number }}		
		</span>
		
		{% if posts_page.has_next %}
			<a href="?page={{ posts_page.next_page_number }}"><span class="glyphicon glyphicon-chevron-right pagerbutton"></span></a>
		{% endif %}
</div>


{% endblock content %}
