
<html>
	<head>
		<title>Некий бложик!</title>
	</head>

	<body>
		<div>
			<h1><a href="">Некий бложик</a></h1>
		</div>
		

		<div>
			<p>Опубликовано 21.03.2016 12.14</p>
			<h2><a href="">Первый пост</a></h2>
			<p>Слоган сервиса — «Social Coding» — на русский можно перевести как «Пишем код вместе». На футболках же печатают совсем другую фразу: «Fork you!» («Ответвись!»).[9] С одной стороны, она созвучна с англоязычным ругательством и намекает на неформальную атмосферу. С другой, эти слова напоминают, что создавать новые форки с Git можно легко и безболезненно — традиционно, к созданию веток разработчики проектов с открытым исходным кодом относятся негативно[10] — а также созвучна названию одной из возможностей Github — очереди форков.[11]</p>
		</div>

		

	</body>
</html>